<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.jsでTodoアプリ</title>
</head>
<body>
  <div id="app">
    <h2>Todoアプリ</h2>
    <p>
      <input v-model="newTodo">
      <button @click="addTodo">Add new to-do</button>
    </p>
    <ul>
      <li v-for="(todo, n) in todos">
        <p>
          <span class="todo">{{ todo }}</span>
          <button @click="removeTodo(n)">Remove</button>
        </p>
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
